:root{
    --white-color: #ffff;
    --black-color: #000;
    --text-color: #333;
}
*{
    box-sizing: inherit;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: sans-serif;
    box-sizing: border-box;
}
/* Responsive */
.grid_row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}    
/* text */
.grid_column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid_column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid_column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
/* animation */
@keyframes fadeIn{ 
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        opacity: 0;
        transform: scale(0.7 );
    }
    to{
        opacity: 1;
        transform: scale(1);
    } 
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s ;
    display: none;
    z-index: 99999;
}
.modal2{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s ;
    display: none;
    z-index: 99999;

}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.4 );
}
.modal__overlay2{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.4 );
}
.modal__body{
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
}
/* Button btn */
.btn{
    min-width: 142px;
    height: 36px;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    background: #ffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.btn-back:hover{
    background:#EFEFEF;
}
.btn.btn--primary{
    background: #FC5631;
    color: #ffff;
}
.btn.btn--size-s{
    padding: 8px;
    height: 32px;
    width: 186px;
    font-size: 1.2rem;
}
/* select-input */
.select-input{
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    min-width: 150px;    
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;    
    position: relative;
}
.select-input__list{
    position: absolute;
    padding:8px 16px;
    top: 24px;
    left: 0;
    right: 0;
    border-radius: 2px;
    background: #fff;
    display: none;
    z-index: 5;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list::after{
    content: "";
    position: absolute;
    height: 10px;
    width: 100%;
    top:-10% ;
    left: 0;
}
.select-input__item{
    list-style-type: none;
}
.select-input__link{
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    display: block;
    padding: 6px 0;
    position: relative;
    transition: left linear 0.1s;
    left: 0;
}
.select-input__link:hover{
    color: #FC5631;
    left: 5px;
}
/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-item{
    list-style-type: none;
    margin: 0 12px;

}
.pagination-item-active .pagination-item__link{
    background: #FC5631;
    color: #fff;
}
.pagination-item-active .pagination-item__link:hover{
    background: #ed5c3f;
}
.pagination-item__link{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #000;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;

}
